* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nova Square', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Ubuntu', sans-serif
}
.container {
    width: 100%;
    height: 100vh;
    background-image: url(../sells-img/signup2.png);
    background-size: cover;
}
.header {
    height: 60px;
    width: 100%;
    background-color:#005B49;
    /* overflow: auto; */
}
.logo {
    float: left;
    width: 200px;
    height: 60px;
}
.list {
    float: right;
    margin-top: 20px;
    margin-right: 70px;
}
.list  li {
    display: inline-block;
    padding-left: 50px;
}
.list  li a {
    transition: .3s;
}
.list  li:hover a {
    color: #b3b3b3;
}
.list  li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.wellcome {
    float: left;
    height: 440px;
    width: 300px;
    /* border: 2px solid red; */
    margin-left: 10px;
    margin-top: 10px;
}
.tt1 {
    margin-top:20px;
    margin-left:10px; 
    font-size: 28px;
    color: #F6F2CB;
}
.tt2 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 24px;
    color: white;
}
.sptt {
    margin-top: 30px;
    margin-left: 10px;
    font-size: 18px;
    color: rgb(181, 181, 181);
}
.btntt1 {
    display: block;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #F6F2CB;
    transition: .4s;
}
.btntt1 a ,
.btntt2 a {
    font-size: 16px;
    text-decoration: none;
    color: #005B49;
    
}
.btntt2 {
    display: block;
    margin-left: 35%;
    /* margin-top: 50px; */
    margin-bottom: 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #F6F2CB;
    transition: .4s;
}
.btntt1:hover , .btntt2:hover {
    background-color: #e3dda4;
}








































.form {
    position: relative;
    top: 10%;
    width: 35%;
    height: 500px;
    float: left;
    border-radius: 10px;
    margin-left: 8%;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.design {
    position: relative;
    top: 20%;
    float: right;
    margin-left: 1%;
    height: 450px;
    width: 500px;
}
.design  img {
    width: 100%;
    height: 100%;
}
.part1 {
    line-height: 40px;
    /* border: 1px solid gold; */
    width: 100%;
    height: 40px;
    margin-top: 15px;
}
.hr1 {
    width: 35%;
    float: left;
    margin-top: 20px;
}
.hr1 hr { 
    height: 3px;
    background-color: #005B49;
}
.hr2 {
    width: 35%;
    float: right;
    margin-top: 20px;
}
.hr2 hr { 
    height: 3px;
    background-color: #005B49;
}
.title {
    position: relative;
    float: left;
    width: 30%;

}
.title::after {
    position: absolute;
    content: "";
    bottom: -5px;
    height: 3px;
    width: 20px;
    left: 29px;
    background-color: #005B49;
    transition: .7s;
}
.form:hover .title::after{
    width: 63%;
    transition: .7s;
}
.title h2 {
    text-align: center;
    font-size: 28px;
    color: #005B49;
    text-transform: capitalize;
}
.part2 {
    position: relative;
    top: 10px;
    width: 95%;
    height: 85%;
    margin: auto;
    /* border: 2px solid red; */
}
.spn1 {
    text-align: center;
    margin-top: 10px;
}
.in1-2-container {
    width:fit-content;
    margin:30px auto 30px auto;
}
.in3-container {
    width:100%;
    margin:auto;
    /* border: 2px solid black; */

}
.form input {
    font-size: 16px;
    padding-bottom: 10px;
    outline: none;
    border: none;
    border-bottom:2px solid rgb(211, 211, 211) ;
}
.in1 {
    width: 200px;
    margin-right:50px; ;
}
.in2 {
    width: 200px;
}
.in3 , .in4 , .in5 {
    margin-left: 20px;
    width: 460px;
}
.in4 , .in5 {
    margin-top: 30px;
}
.in6-container  {
    margin-left:20px;
    margin-top: 30px;
}
#in6 {
    accent-color: #005b49;
}
.spn2 {
    margin-left: 10px;
    font-size: 15px;
    color:#005B49;
}
.spn3 {
    margin-left: 10px;
    font-size: 15px;
    color:#005B49;
}
.in7-container {
    width: 90%;
    margin: 30px auto;
    /* border: 2px solid black; */
    text-align: center;
}
.in7 {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #005B49;
    color: white;
    font-size: 16px;
    transition: .3s;
    cursor: pointer;
}
.in7:hover {
    background-color: #00705a;
}